<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>todoMVC-redux</title>
  </head>
  <body>
    <div class="todoapp" id="root">

    </div>

    <div class="selected">
      <select class="" id="province">

      </select>
      <select class="" id="city">

      </select>
    </div>
    <script type="text/javascript">
      console.log(provinces);
      var province = {
        current: function(){

        },
        init: function(){

        },
        item: function(){

        }
      }
    </script>
  <script type="text/javascript" src="/todomvc-redux/todomvc-redux.js"></script></body>
</html>
